.titulo1{
color: rgba(0, 255, 251, 0.794);
align-items: center;
text-align: center;
background-color: rgb(19, 0, 161);
height: 100px;
}
.container{
padding: 100px;
border-radius: 15px;
background-color: rgb(19, 4, 128);
}
img{
width: 400px;
height: 400px;
}
.fundo{
    align-content: center;
    background-color:rgb(19, 4, 128) ;
}
.bela{
    height: 400px;
    width: 400px;
    border-radius: 50px;
    display: block;
    margin-left: 10px;
     margin-right: auto;

}
.rei_leao{
    height: 400px;
    width: 400px;
    border-radius: 50px;
    display: block;
    margin-left: 10px;
    margin-right: auto;
    transition: tranform 0.5s ease ;
    box-shadow: 0 8px 25px rgb(rgb(255, 255, 255), rgb(239, 255, 12), rgb(241, 53, 20)) (0, 0, 0, 0.6);
}
.aladdin{ 
    height: 400px;
    width: 400px;
    border-radius: 50px; 
    display: block;
    margin-left: 10px;
    margin-right: auto;

}
.cabeçalho{

    align-items: center;
    text-align: center;
    height: 100px;
}